button {
    cursor: pointer;
}

.btn-gallery {
    /* Style for "Rectangle" */
    width: 116px;
    height: 40px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background-color: var(--clr1);
    text-decoration: none;
    /* Style for "Gallery" */
    color: var(--clr10);
    font-family: Poppins;
    font-size: 21px;
    font-weight: 500;
    padding: 4px 8px 2px 8px;
}

.btn-about {
    /* Style for "About" */
    text-decoration: none;
    width: 63px;
    height: 17px;
    color: #ffffff;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 500;
    text-align: left;
    /* padding-inline-end: 250px; */
    padding-inline-start: 20px;
}

.button {
    /* Style for "Rectangle" */
    width: 56px;
    height: 51px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ffffff;
}

.main-buttons {
    position: relative;
    width: 450px;
    height: 150px;
    border-radius: 15px;
    background-color: var(--clr11);
    text-align: center;
    margin-inline-start: 40px;
    margin-block-start: 25px;

}

.meme-line {
    /* Style for "can’t get" */
    width: 445px;
    height: 57px;
    color: #3d3d3d;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    
    /* Text style for "can’t get" */

    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #bbc4d1;
    border-radius: 28px;
    background-color: #ebeef3;
    margin: 25px 40px 20px 40px;
    margin-block-start: 25px;
    border-style: none;

}



input::placeholder {
    text-align: center;
}

.first-row-btn {
    text-align: center;
    margin-block-end: 25px;
}

.btn-editor {
    width: 50px;
    height: 45px;
    border-radius: 10px;
    background-color: #ebeef3;
    margin: 10px 10px 10px 10px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    cursor: pointer;
    border-style: none;
}

.delete {
    box-shadow: 1px 5px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
}

.switch {
    box-shadow: 1px 5px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
}

.add {
    box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}


.impact {

    /* Style for "Rectangle" */
    width: 236px;
    height: 45px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ffffff;
    margin-block-start: 10px;
    margin: 10px 10px 10px 10px;
    border-style: none;
   
     /* Style for "impact" */
     cursor: pointer;
     /* width: 130px;
     height: 30px; */
     color: #22252c;
     font-family: Poppins-Semi-bold;
     font-size: 17px;
     font-weight: 400;
     text-align: center;
     text-transform: uppercase;
     margin-block-start: -50px;
}

.color {
    /* margin-inline-start:5px ; */
    text-align: center;
}

.btn-download {
    /* Style for "Rectangle" */
    margin-block-start: 15px;
    cursor: auto;
    width: 213px;
    height: 51px;
    box-shadow: 1px 6px 0 #632687, inset 0 5px 0 #bf84da;
    border-radius: 15px;
    background-color: #8f44bb;
    color: #ffffff;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 500;
    border-style: none;

}

.download {
    /* Style for "Download" */
    text-decoration: none;
    color: #ffffff;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 500;
    text-align: left;
    
}

.btn-share {
    /* Style for "Rectangle" */
    margin-inline-start: 40px;
    margin-inline-end: 15px;
    margin-block-start: 15px;
    width: 213px;
    height: 51px;
    box-shadow: 1px 6px 0 #165c9c, inset 0 5px 0 #57b2e8;
    border-radius: 15px;
    background-color: #1e7cd3;
    color: #ffffff;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 500;
    border-style: none;

}

.btn-humburger {
    display: none;
    margin-inline-end: 100px;
}

.btn-en {
    width: 45px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background-color: var(--clr1);
    text-decoration: none;
    color: var(--clr10);
    font-family: Poppins;
    font-size: 15px;
    border-style: none;
    margin-inline-start: 15px;
    margin-inline-end: 10px;
    margin-block-start: 3px;
}

.btn-he {
    width: 45px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background-color: var(--clr1);
    text-decoration: none;
    color: var(--clr10);
    font-family: Poppins;
    font-size: 15px;
    border-style: none;
    margin-block-start: 3px;
}

.btn-search {
    position: absolute;
    left:440px;
    /* Style for "Forme 9" */
    width: 30px;
    height: 30px;
    border-style: none;
    margin-block-start: 3px;
    background-color: transparent;
    /* background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%); */
}

.browser-style {
    /* Style for "Search" */
    position: relative;
    width: 71px;
    height: 17px;
    opacity: 0.38;
    color: #fefefe;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 300;
    text-align: left;
}

.color-input{
    opacity: 0;
    position: absolute;
    bottom: 90px;
    left: 320px;
}



input.browser-style::placeholder{
    text-align: left;
    margin-left: 50px;
    margin-inline-start: 50px;

}



  
