.editor {
    background-image: url('img/Forme_1.png');
    /* display: grid;
    grid-template-rows: 1fr 1fr; */
}


/* .editor{
    display:none
} */

.closed-window {
    display: none;
}

.btn-editor {
    /* Style for "Frame" */
    width: 525px;
    height: 546px;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    border-radius: 30px;
    background-color: #ebeef3;
    opacity: 0.11;
}