.editor {
    display:none;
    background-image: url('img/Forme_1.png');
    /* display: flex; */
    flex-direction: row-reverse;
        justify-content: space-evenly;
        /* opacity: 0; */
        margin-block-start: 20px;
}


 /* .opened-window {
    opacity: 1;} */

.btn-editor {
    /* position: absolute; */
    /* Style for "Frame" */
    width: 525px;
    height: 546px;
    border-radius: 30px;
    background-color: #ebeef3;
}