.gallery{
    display:grid;
    grid-auto-flow: row;
border-radius: 10px;
background-color: var(--clr8);
overflow-y: scroll;

}
.closed-window{
    display:none
}


.imgs-container{
    display:block
}

.img{
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;

}