.logo {
/* Style for "LOGO" */
/* width: 59px; */
color: #ffffff;
font-family: Poppins;
font-size: 22px;
font-weight: 500;
text-transform: uppercase;
/* Text style for "LOGO" */
margin-inline-start: 100px;
    
}