/* MOBILE ONLY */

@media (max-width: 1000px) {
.gallery{
	height: 85vh;
 
}
	.img {
		
		 max-height:330px; 
		 max-width: 330px;  
	}
	
	.main-header {
		border-radius: 0px;
		height: 145px;
	}
	.imgs-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
	}
	.img {
		height: 300px;
		width: 300px;
		padding: 10px 15px 10px 15px;
	}
	.scroll-container {
		height: 600px;
	}
	.logo {
		font-size: 44px;
		margin-inline-start: 100px;
	}
	.btn-humburger {
		display: block;
	}
	.hamburger-screen {
		display: none;
		border-radius: 20px;
	}
	.main-header .main-nav {
		/* display: none; */
		position: fixed;
		top: -300PX;
		right: 0;
		height: 140px;
		background-image: linear-gradient(-86deg, rgba(51, 190, 109, 0.7) 0%, rgba(12, 152, 185, 0.7) 100%);
		min-width: 100px;
		transform: translateY(100%);
		color: #000000;
	}
	.main-nav {
		display: block;
	}
	body.menu-open .main-nav {
		display: flex;
		justify-content: center;
		align-items: center;
		top: 160px;
		left: 69%;
		right: 7%;
		transform: translateY(0);
	}
	body.rtl.menu-open .main-nav {
		display: flex;
		justify-content: center;
		align-items: center;
		top: 160px;
		left: 7%;
		right: 64%;
		transform: translateY(0);
	}
	.main-header .main-menu {
		flex-direction: column;
	}
	canvas {
		width: 300px;
		height: 300px;
		margin-inline-end: 0px;
		margin-inline-start: 27px;
	}
	.canvas-container {
		background-size: 300px 300px;
	}
	.btn-about {
		padding-inline-start: 7px;
		margin-block-start: 10px;
	}
	.btn-editor-container {
		width: 300px;
		height: 300px;
		margin-inline-start: 36px;
		margin-inline-end: 22px;
	}
	.btn-editor {
		width: 25px;
		height: 25px;
		margin: 2px 2px 2px 2px;
	}
	.btn-he {
		margin-block-start: 6px;
		margin-inline-start: 20px;
	}
	.btn-en {
		margin-inline-start: 20px;
	}
	.first-row-btn {
		text-align: center;
		margin-block-end: 10px;
	}
	.meme-line {
		/* Style for "can’t get" */
		width: 200px;
		height: 22px;
		font-size: 15px;
	}
	.btn-meme-line {
		/* Style for "Rectangle" */
		width: 250px;
		height: 30px;
		margin: 10px 10px 10px 25px;
		margin-block-start: 15px;
	}
	.main-buttons {
		width: 220px;
		height: 100px;
		border-radius: 15px;
		background-color: var(--clr11);
		text-align: center;
		margin-inline-start: 40px;
	}
	.btn-impact {
		cursor: auto;
		/* Style for "Rectangle" */
		width: 200px;
		height: 25px;
		margin: 10px 10px 2px 10px;
	}
	.impact {
		/* Style for "impact" */
		cursor: pointer;
		width: 130px;
		height: 20px;
		font-size: 10px;
	}
	.btn-download {
		/* Style for "Rectangle" */
		margin-block-start: 15px;
		width: 120px;
		height: 20px;
		font-size: 10px;
	}
	.download {
		font-size: 10px;
	}
	.btn-share {
		/* Style for "Rectangle" */
		margin-inline-start: 10px;
		margin-inline-end: 15px;
		margin-block-start: 15px;
		width: 120px;
		height: 20px;
		font-size: 10px;
	}
	.canvas-container {
		background-image: url('/img/Forme_1.png');
	}
}


/* MEDIUM */


/* 780px */

@media (min-width: 780px) {}


/* LARGE */


/* 1270px */

@media (min-width: 1270px) {}