:root {
	--clr14: #bbc4d1;
	--clr13: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
	--clr12: #ebeef3;
	--clr11: #19a59f;
	--clr10: #21ac91;
	--clr9: #1e7cd3;
	--clr8: #383b42;
	--clr7: #8f44bb;
	--clr6: #3d3d3d;
	--clr5: #3e4b68;
	--clr4: #3e4b68;
	--clr3: #5970c1;
	--clr2: #22252c;
	--clr1: #fefefe;
	--clr0: #ffffff;
}